.body-invoice {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: black;
}

.central-invoice {
    width: 600px;
    height: 800px;
    background-color: rgba(218, 218, 218, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 30px;
    border: 2px solid gray;
}

.logo-invoice {
    position: absolute;
    top: 30px;
    width: 350px;
}

.titlecentral-invoice {
    position: absolute;
    top: 120px;
    font-size: 40px;
}

.content-invoice {
    height: 600px;
    width: 500px;
    background-color: white;
    bottom: 0px;
    position: absolute;
}

.grouptext-invoice {
    position: relative;
    width: 100%;
    height: 150px;
    justify-content: center;
    display: flex;
}

.p1-gptx-invoice {
    position: absolute;
    margin-top: 20px;
    font-size: 22px;

}

.p2-gptx-invoice {
    position: absolute;
    margin-top: 45px;
}

.p3-gptx-invoice {
    position: absolute;
    margin-top: 80px;
    font-size: 30px;
}

.infomid-invoice {
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: 10px;
}

.p-informid-invoice {
    width: 480px;
    height: 100%;
    margin-left: 10px;
    color: gray;
    border-bottom: 1px solid rgba(163, 163, 163, 0.548);
}

.groupmid-invoice {
    width: 100%;
    position: relative;
    height: 150px;
    display: flex;
}

.spacemid1-invoice {
    position: absolute;
    width: 50%;
    height: 75px;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
}

.spacemid2-invoice {
    position: absolute;
    width: 50%;
    height: 75px;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
}

.spacemid3-invoice {
    position: absolute;
    width: 50%;
    height: 75px;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
}

.spacemid4-invoice {
    position: absolute;
    width: 50%;
    height: 75px;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
}

.textmid-invoice {
    width: 90%;
    height: 50px;
    margin-left: 8%;
    margin-top: 10px;
    overflow-wrap: break-word; 
    word-wrap: break-word;
}

.textmid-invoice h4 {
    font-size: 17px;
}

.textmid-invoice p {
    font-size: 16px;
}

.emailmid-invoice {
    color: #0000ff;
    cursor: pointer;
    text-decoration: underline;
}

.p-textmid-invoice {
    font-size: 14px;
}


.bottom-invoice {
    width: 500px;
    height: 270px;
    display: flex;
    justify-content: center;
    position: relative;
}

.space-bottom-invoice {
    width: 450px;
    height: 270px;
    bottom: 0px;
    position: absolute;
}

.line-bottom-invoice {
    width: 450px;
    height: 45px;
}

.title-bottom-invoice {
    color: gray;
    position: absolute;
    margin-top: 20px;
}

.line1-invoice, .line2-invoice, 
.line3-invoice, .line4-invoice, 
.line5-invoice, .line6-invoice {
    display: flex;
    align-items: center;
}

.line1-invoice, .line3-invoice, .line5-invoice {
    border-bottom: 1px solid rgba(163, 163, 163, 0.548);
}

.line2-invoice, .line4-invoice {
    background-color: rgba(218, 218, 218, 0.877);
}

.text-bottom1-invoice {
    height: 45px;
    width: 190px;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.text-bottom2-invoice {
    height: 45px;
    width: 150px;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.text-bottom3-invoice {
    height: 45px;
    width: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 350px;
}

.textleft-bottom-invoice {
    margin-left: 10px;
    font-size: 14px;
}

.textright-bottom-invoice {
   right: 10px;
   position: absolute;
   font-size: 14px;
}

.valuebottom-invoice {
    color: gray;
    margin-left: 200px;
}

.numberbottom-invoice {
    position: absolute;
    right: 10px;
}