.header-app {
    width: 100%;
    height: 90px;
    position: fixed;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-app.scrolled {
    background-color: rgb(22, 22, 22); /* Cor quando o usuário rolar a página */
    border-bottom: 2px solid rgb(78, 78, 78);
}

.logo-app {
    position: fixed;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.logo-app:hover {
    transform: scale(1.1);
}

.ul1-app, .ul2-app, .ul3-app {
    list-style: none; 
    display: flex;
    position: absolute;
    cursor: pointer;
    color: white;
}

.ul1-app {
    left: 350px;
}

.ul2-app {
    left: 550px;
}

.ul3-app {
    right: 100px;
}

.ul1-app:hover .text-header {
    background-color: rgb(88, 88, 88);
}

.ul2-app:hover .text-header {
    background-color: rgb(88, 88, 88);
}

.ul3-app:hover .text-header {
    background-color: rgb(88, 88, 88);
}

.ul1-app:hover .borderbottom-header {
    border: 1px solid #477a1e;
}

.ul2-app:hover .borderbottom-header {
    border: 1px solid #477a1e;
}

.ul3-app:hover .borderbottom-header {
    border: 1px solid #477a1e;
}

.li-app {
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-header {
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px;
    border-radius: 20px;
    transition: 0.1s;
}

.ul-appr:hover .borderbottom-header {
    border-bottom: 2px solid black;
}

.borderbottom-header {
    width: 120px;
    bottom: 0px;
    position: absolute;
}
  