:root {
  --green: #477a1e;
  --greenyellow: #70B237;
  --whiteblue: rgb(139, 238, 255);
  --blue: #36c7f2;
  --brown: #61371f;
  --light-brown: #854f2b;
  --light-gray: rgb(201, 201, 201);
  --gray: gray;
  --medium-gray: rgb(83, 83, 83);
  --dark-gray: rgb(49, 49, 49);
}

/* -------- */
/* Fundo da tela */
/* -------- */

.background-app {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* -------- */
/* Banner */
/* -------- */


.banner-app {
  display: block;
  object-fit: cover; 
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: black;
}

.video-banner-app {
  width: 100%;
}

#detach-button-host {
  display: none !important;
}

/* -------- */
/* Página 2 */
/* -------- */

.page2-app {
  width: 100%;
  height: 1080px;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -4px;
}

.titulo-p2-app {
  font-size: 40px;
  margin-top: 140px;
  color: white;
  font-weight: bold;
}

.troca-palavra::after {
  content: "Explore!"; /* Palavra inicial */
  animation: troca 15s infinite;
  color: yellowgreen;
}


.troca-palavra.pause::after {
  animation: none; /* Animação pausada */
  content: attr(data-content);
}

.video-p2-app {
  position: absolute;
  margin-top: 20px;
  transform: scale(0.65);
  cursor: pointer;
}

/* -------- */
/* Página 3 */
/* -------- */

.page3-app {
  width: 100%;
  height: 880px;
  background-color: rgb(34, 34, 34);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-p3-app {
  font-size: 45px;
  top: 40px;
  left: 80px;
  position: absolute;
  color: white;
  font-weight: bold;
}

.spacegame-p3-app {
  width: 1700px;
  height: 700px;
  margin-top: 100px;
  position: absolute;
  overflow: visible;
}

.game-p3-app {
  width: 800px;
  height: 300px;
  position: absolute;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.game-p3-app:hover {
  transform: scale(1.1);
}

.game1-app { 
  top: 0px;
  left: 0px;
} 

.game2-app { 
  bottom: 0px;
  left: 0px;
}

.game3-app { 
  top: 0px;
  right: 0px;
} 

.game4-app { 
  bottom: 0px;
  right: 0px;
} 

/* -------- */
/* Página 4 */
/* -------- */

.page4-app {
  width: 100%;
  height: 980px;
  background: radial-gradient(70.71% 70.71% at 50% 50%, rgba(51, 224, 255, 0.2) 0, rgba(10, 10, 10, 0) 75%, rgb(10, 10, 10) 100%);
  background-color: black;
  position: relative;
  margin-top: -5px;
}

.titulo-p4-app {
  font-size: 45px;
  top: 100px;
  left: 80px;
  position: absolute;
  color: white;
  font-weight: bold;
}

.spaceleft-p4-app {
  width: 1100px;
  height: 650px;
  position: absolute;
  margin-top: 200px;
  margin-left: 80px;
  transition: 0.3s ease-in-out;
  color: white;
}

.spaceleft-p4-app:hover {
  transform: scale(1.05);
}

.imgleft-p4-app {
  width: 1100px;
  height: 570px;
  position: absolute;
}

.spacetextleft-app {
  width: 1100px;
  height: 80px;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  background-color: rgba(202, 243, 255, 0.199);
}

.spaceimg-p4-app {
  width: 600px;
  height: 700px;
  margin-top: 175px;
  position: absolute;
  right: 40px;
}

.spaceright-p4-app {
  position: absolute;
  width: 550px;
  height: 200px;
  border-radius: 30px;
  user-select: none;
  margin-left: 25px;
  color: rgb(231, 253, 255);
  font-weight: bold;
  background-color: rgba(202, 243, 255, 0.199);
}

.spaceimg1-p4-app:hover, .spaceimg2-p4-app:hover, .spaceimg3-p4-app:hover {
  transform: scale(1.05);
}

.spaceimg1-p4-app  {
  margin-top: 25px;
  transition: 0.3s ease-in-out;
}

.spaceimg2-p4-app {
  margin-top: 250px;
  transition: 0.3s ease-in-out;
}

.spaceimg3-p4-app {
  margin-top: 475px;
  transition: 0.3s ease-in-out;
}

.img-p4-app {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0;
}

.spacetext-p4-app {
  position: absolute;
  left: 25px;
  height: 200px;
  width: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.textimg-p4-app {
  font-size: 25px;
}

/* -------- */
/* Página 5 */
/* -------- */

.page5-app {
  width: 100%;
  height: 1250px;
  position: relative;
}

.titulo-p5-app {
  font-size: 45px;
  left: 80px;
  position: absolute;
  color: white;
  margin-top: 10px;
  z-index: 1;
  font-weight: bold;
}

.space-p5-app {
  width: 100%;
  height: 400px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space1-p5-app {
  height: 450px;
  background-color: rgb(83, 83, 83);
}

.space2-p5-app {

}

.space3-p5-app {
  margin-top: 850px;
  background-color: rgb(83, 83, 83);
}
.about-p5-app {
  width: 1300px;
  height: 300px;
  position: absolute;
}

.aboutspace-p5-app {
  position: absolute;
  width: 800px;
  height: 300px;
  right: 100px;
}

.aboutspace2-p5-app {
  left: 100px;
}

.titulo-aboutp5-app {
  position: absolute;
  width: 800px;
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 36px;
  color: yellowgreen;
  font-weight: bold;
}

.titulo2-aboutp5-app {
  bottom: 220px;
}

.text-p5-app {
  width: 800px;
  height: 200px;
  position: absolute;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 28px;
  color: white;
  text-align: justify;
}

.img-p5-app {
  width: 300px;
  height: 300px;
  position: absolute;
}

.img2-p5-app {
  right: 0px;
}

/* -------------------------------------- */
/* -------------------------------------- */
/* Jussara */
/* -------------------------------------- */
/* -------------------------------------- */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* ----------------- */
    /* Keyframes */
/* ----------------- */

@keyframes border {
  0% {
    border-color: white;
  }
  50% {
    border-color: var(--blue);
  }
  100% {
    border-color: white;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes troca {
  0%,
  20% {
    content: "Explore!";
  }
  21%,
  40% {
    content: "Construa!";
  }
  41%,
  60% {
    content: "Sobreviva!";
  }
  61%,
  80% {
    content: "Divirta-se!";
  }
  81%,
  100% {
    content: "Imagine!";
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
