.banner-app {
  background-color: aquamarine;
  height: 880px;
  width: 100%;
  position: relative;
}

.header-app {
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  z-index: 999;
}

.header-app.scrolled {
  background-color: rgb(201, 131, 131); /* Cor quando o usuário rolar a página */
  border-bottom: 1px solid blue;
}

.logo-app {
  left: 50px;
  position: fixed;
}

.ul-app {
  list-style: none; 
  display: flex; 
  gap: 20px; 
}

.li-app {
  width: 100px;
  height: 30px;
  top: 30px;
  background-color: #f0f0f0;
  border-radius: 8px;
  cursor: pointer;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li-app:hover {

}

.about-app {
  left: 200px;
}

.game-app {
  left: 350px;
}

.login-app {
  right: 200px;
}

/* -------- */
/* Página 2 */
/* -------- */

.page2-app {
  width: 100%;
  height: 1080px;
  /* background-image: url(../public/img/background.png); */
  background-color: aqua;
  display: flex;
  justify-content: center;
  position: relative;
}

.titulo-p2-app {
  font-size: 40px;
  margin-top: 170px;
  color: white;
}

.video-p2-app {
  width: 1500px;
  height: 700px;
  background-color: azure;
  position: absolute;
  margin-top: 250px;
}

/* -------- */
/* Página 3 */
/* -------- */

.page3-app {
  width: 100%;
  height: 1080px;
  background-image: url(/img/background.png);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-p3-app {
  font-size: 45px;
  top: 170px;
  left: 80px;
  position: absolute;
  color: white;
}

.spacegame-p3-app {
  width: 1700px;
  height: 700px;
  margin-top: 100px;
  position: relative;
  background-color: antiquewhite;
}

.game-p3-app {
  width: 800px;
  height: 300px;
  background-color: rgb(58, 119, 119);
  position: absolute;
}

.game1-app { 
  top: 0px;
  left: 0px;
  position: absolute;
} 

.game2-app { 
  top: 400px;
  left: 0px;
  position: absolute;
}

.game3-app { 
  top: 0px;
  right: 800px;
  position: absolute;
} 

.game4-app { 
  bottom: 300px;
  right: 800px;
  position: absolute;
} 

/* -------- */
/* Página 4 */
/* -------- */

.page4-app {
  width: 100%;
  height: 1080px;
  /* background-image: url(/background.png); */
  background-color: rgb(204, 204, 198);
  position: relative;
}

.titulo-p4-app {
  font-size: 45px;
  top: 170px;
  left: 80px;
  position: absolute;
  color: white;
}

.spaceleft-p4-app {
  width: 1100px;
  height: 650px;
  position: absolute;
  margin-top: 250px;
  margin-left: 80px;
  border: 1px solid black;
}

.spaceleft-p4-app:hover {
  transform: scale(1.05);
  transition: 0.3s;
  border: 1px solid white;
}

.imgleft-p4-app {
  width: 1100px;
  height: 570px;
  position: absolute;
}

.spacetextleft-app {
  width: 1100px;
  height: 80px;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.spaceimg-p4-app {
  width: 550px;
  height: 650px;
  margin-top: 250px;
  position: absolute;
  right: 80px;
}

.spaceright-p4-app {
  position: absolute;
  width: 550px;
  height: 200px;
  border: 1px solid black;
  user-select: none;
}

.spaceimg1-p4-app:hover, .spaceimg2-p4-app:hover, .spaceimg3-p4-app:hover {
  transform: scale(1.05);
  transition: 0.3s;
  border: 1px solid rgb(255, 255, 255);
}

.spaceimg2-p4-app {
  margin-top: 225px;
}

.spaceimg3-p4-app {
  margin-top: 450px;
}

.img-p4-app {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0;
}

.spacetext-p4-app {
  position: absolute;
  left: 25px;
  height: 200px;
  width: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.textimg-p4-app {
  font-size: 25px;
}

/* -------- */
/* Página 5 */
/* -------- */

.page5-app {
  width: 100%;
  height: 1250px;
  /* background-image: url(/img/background.png); */
  background-color: rgb(107, 236, 124);
  position: relative;
}

.titulo-p5-app {
  font-size: 45px;
  left: 80px;
  position: absolute;
  color: rgb(37, 37, 37);
  z-index: 1;
}

.space-p5-app {
  width: 100%;
  height: 400px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space1-p5-app {
  height: 450px;
  background-color: beige;
}

.space2-p5-app {
  margin-top: 450px;
}

.space3-p5-app {
  margin-top: 850px;
  background-color: beige;
}

.about-p5-app {
  width: 1300px;
  height: 300px;
  position: absolute;
}

.aboutspace-p5-app {
  position: absolute;
  width: 800px;
  height: 300px;
  right: 100px;
}

.aboutspace2-p5-app {
  left: 100px;
}

.titulo-aboutp5-app {
  position: absolute;
  width: 800px;
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 36px;
}

.text-p5-app {
  width: 800px;
  height: 200px;
  position: absolute;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 28px;
}

.img-p5-app {
  width: 300px;
  height: 300px;
  position: absolute;
}

.img2-p5-app {
  right: 0px;
}

/* -------- */
/* Rodapé app */
/* -------- */

.rodape-app {
  width: 100%;
  height: 700px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}