.header-app {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-app.scrolled {
    background-color: rgb(22, 22, 22); /* Cor quando o usuário rolar a página */
    border-bottom: 2px solid rgb(78, 78, 78);
}

.logo-app {
    position: fixed;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.logo-app:hover {
    transform: scale(1.1);
}

.ul1-app, .ul2-app, .ul3-app {
    list-style: none; 
    display: flex;
    position: absolute;
    cursor: pointer;
    color: white;
}

.ul1-app {
    left: 350px;
}

.ul2-app {
    left: 550px;
}

.ul3-app {
    right: 100px;
}

.ul1-app:hover .text-header {
    background-color: rgba(63, 63, 63, 0.6);
}

.ul2-app:hover .text-header {
    background-color: rgba(63, 63, 63, 0.6);
}

.ul3-app:hover .text-header {
    background-color: rgba(63, 63, 63, 0.6);
}

.borderbottom-header {
    position: relative;
    display: inline-block;
}

.borderbottom-header::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #477a1e;
    transform: scaleX(0); 
    transform-origin: left; 
    transition: transform 0.3s ease-in-out;
}

.ul1-app:hover .borderbottom-header::after {
    transform: scaleX(1); 
}

.ul1-app:not(:hover) .borderbottom-header::after {
    transform-origin: right;
    transform: scaleX(0); 
}


.ul2-app:hover .borderbottom-header::after {
    transform: scaleX(1); 
}

.ul2-app:not(:hover) .borderbottom-header::after {
    transform-origin: right; 
    transform: scaleX(0);
}

.ul3-app:hover .borderbottom-header::after {
    transform: scaleX(1); 
}

.ul3-app:not(:hover) .borderbottom-header::after {
    transform-origin: right; 
    transform: scaleX(0); 
}

.li-app {
    width: 140px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-header {
    width: 140px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px;
    border-radius: 20px;
    transition: 0.1s;
}

.ul-appr:hover .borderbottom-header {
    border-bottom: 2px solid black;
}

.borderbottom-header {
    width: 140px;
    bottom: 0px;
    position: absolute;
}
